body{
  font-family: Helvetica;
  text-align: center;
}
h1{

}
h2{

}
h3{

}
h4{

}
.landing_section{
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-position: left;
  background-size: 150%;
}
a{
  color: white;
}
